@charset "utf-8";

/*шрифты*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Agora Slab';
  src: url('../fonts/pfagoraslabpro-light-webfont.eot');
  src: url('../fonts/pfagoraslabpro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfagoraslabpro-light-webfont.woff') format('woff'),
  url('../fonts/pfagoraslabpro-light-webfont.ttf') format('truetype'),
  url('../fonts/pfagoraslabpro-light-webfont.svg#Agora Slab') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Agora Slab';
  src: url('../fonts/pfagoraslabpro-lightitalic-webfont.eot');
  src: url('../fonts/pfagoraslabpro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfagoraslabpro-lightitalic-webfont.woff') format('woff'),
  url('../fonts/pfagoraslabpro-lightitalic-webfont.ttf') format('truetype'),
  url('../fonts/pfagoraslabpro-lightitalic-webfont.svg#Agora Slab') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Agora Slab';
  src: url('../fonts/pfagoraslabpro-reg-webfont.eot');
  src: url('../fonts/pfagoraslabpro-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfagoraslabpro-reg-webfont.woff') format('woff'),
  url('../fonts/pfagoraslabpro-reg-webfont.ttf') format('truetype'),
  url('../fonts/pfagoraslabpro-reg-webfont.svg#Agora Slab') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agora Slab';
  src: url('../fonts/pfagoraslabpro-bold-webfont.eot');
  src: url('../fonts/pfagoraslabpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfagoraslabpro-bold-webfont.woff') format('woff'),
  url('../fonts/pfagoraslabpro-bold-webfont.ttf') format('truetype'),
  url('../fonts/pfagoraslabpro-bold-webfont.svg#Agora Slab') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
    font-family: 'Agora Slab';
    src: url('../fonts/pfagoraslabpro-bolditalic-webfont.eot');
    src: url('../fonts/pfagoraslabpro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-bolditalic-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Agora Slab';
    src: url('../fonts/pfagoraslabpro-italic-webfont.eot');
    src: url('../fonts/pfagoraslabpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-italic-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

/*иконки

@font-face {
	font-family: 'icomoon';
	src:url('../images/icomoon.eot?-iffjeo');
	src:url('../images/icomoon.eot?#iefix-iffjeo') format('embedded-opentype'),
		url('../images/icomoon.woff?-iffjeo') format('woff'),
		url('../images/icomoon.ttf?-iffjeo') format('truetype'),
		url('../images/icomoon.svg?-iffjeo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: inherit;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-simple-menu:before {
	content: "\e600";
}
.icon-take-away:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-pin:before {
	content: "\e603";
}

.icon-instagram:before {
	content: "\e606";
}
.icon-google:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-email:before {
	content: "\e609";
}

.icon-close:before {
	content: "\e60c";
}

.icon-arrow-right:before {
	content: "\e60e";
}
.icon-arrow-left:before {
	content: "\e60f";
}
.icon-apple:before {
	content: "\e610";
}


@font-face {
	font-family: 'icomoon2';
	src:url('../fonts/icomoon2.eot?n4vewo');
	src:url('../fonts/icomoon2.eot?#iefixn4vewo') format('embedded-opentype'),
		url('../fonts/icomoon2.woff?n4vewo') format('woff'),
		url('../fonts/icomoon2.ttf?n4vewo') format('truetype'),
		url('../fonts/icomoon2.svg?n4vewo#icomoon2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: inherit;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-job,
.icon-coffeemania,
.icon-menu,
.icon-delivery,
.icon-address,
.icon-cake {
	font-family: 'icomoon2';
}

.icon-coffeemania,
.icon-menu,
.icon-delivery,
.icon-address,
.icon-cake {
	font-size: 2rem;
}

.icon-coffeemania:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-delivery:before {
	content: "\e607";
}
.icon-address:before {
	content: "\e608";
}
.icon-cake:before {
	content: "\e609";
}
.icon-job:before {
	content: "\e60a";
}

.icon-job:before {
	content: "\e604";
}
.icon-form:before {
	content: "\e602";
}
.icon-video:before {
	content: "\e603";
}
.icon-parking:before {
	content: "\e600";
}
.icon-pin:before {
	content: "\e601";
}
.icon-email:before {
	content: "\e60b";
}

.with-icon {
	position: relative;
	margin-left: 1.5rem;
}

.with-icon .icon {
	position: absolute;
	left: -1.43rem;
	top: -0.125rem;
	font-size: inherit;
	line-height: inherit;
	font-size: 120%;
}

.with-icon .icon-pin {
	margin-left: 3px;
}

a[data-toggle="#map"].with-icon {
	margin-left: 1.25rem;
}*/


/*обнуляшка*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

nav ul {
	list-style: none;
}

/*общее*/

body, html {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: normal;
	color: #222222;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h5,
article header,
figure header {
	font-family: "Agora Slab";
	font-weight: bold;
}

article p.hero {
	font-family: "Agora Slab";
	font-size: 16px;
	font-weight: 400;
}

article em {
	font-family: "Agora Slab";
	font-weight: normal;
	font-style: italic;
}

article p {
	font-size: 14px;
	margin-bottom: 15px;
}

h1 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1.4;
}

h2 {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 1.4;
}

article h1 {
	margin-top: 45px;
}

article h1:first-child {
	margin-top: 0;
}

article h2 {
	margin-top: 35px;
}

article h2:first-child {
	margin-top: 0;
}


/*мелочи*/

a {
	cursor: pointer;
}

article a {
	color: #765646;
	text-decoration: none;
	border-bottom: solid rgba(118,86,70,0.25) 1px;
}

article a:hover,
article a:active {
	cursor: pointer;
	color: #B5191A;
	border-color: rgba(181,85,86, 0.25);
}

a label {
	display: none;
}

strong {
	font-weight: bold;
}

.red {
	color: #B5191A;
}

/*формы*/

form {
	font-size: 12px;
	color: #222;
}

form p {
	font-size: inherit;
	margin: 0;
}

textarea, select, option, input {
	font-family: "Helvetica Neue";
	color: #222;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea {
	width: 100%;
	border: solid #aaaaaa 1px;
	padding: 10px;
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.iphone textarea,
.ipad textarea {
	-webkit-appearance: caret;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin-right: 3px;
}

input[type="text"] {
	background-color: transparent;
	/*border-bottom: solid #aaa 1px;*/
	height: 24px;
	line-height: 24px;
	padding: 0 7px;
	width: 60%;
	margin: 0px 0px 10px 0px;
	border-width: 1px;
    -webkit-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -moz-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -ms-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="text"].smaller {
	width: 200px;
}

.iphone input[type="text"],
.ipad input[type="text"] {
	-webkit-appearance: caret;
}

.msie input[type="text"],
.firefox input[type="text"] {
	border-radius: 5px;
	border-width: 0;
	padding: 0px 7px 0px 7px;
	-webkit-box-shadow: 0px 1px 0px 0px #aaa;
	-moz-box-shadow: 0px 1px 0px 0px #aaa;
	box-shadow: 0px 1px 0px 0px #aaa;
}

select {
	background-color: transparent;
	border-bottom: solid #aaa 1px;
	height: 24px;
	line-height: 24px;
	padding: 0 5px 0 4px;
	margin: 0 3px;
	vertical-align: middle;
	border-width: 1px;
    -webkit-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -moz-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -ms-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    position: relative;
    top: -1px;
    cursor: pointer;
}

select.small {
	width: 80px;
}

.block select {
	width: 60%;
	margin-left: 0;
	margin-right: 0;
}

.touch-device select {
	top: -2px;
}

.msie select,
.firefox select {
	border-radius: 5px;
	border-width: 0;
	padding: 0px 0px 0px 5px;
	-webkit-box-shadow: 0px 1px 0px 0px #aaa;
	-moz-box-shadow: 0px 1px 0px 0px #aaa;
	box-shadow: 0px 1px 0px 0px #aaa;
}

.firefox select {
	padding: 5px;
	height: auto;
}

fieldset {
	margin: 2.5em 0;
}

fieldset:first-child {
	margin-top: 0;
}

fieldset label {
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}

fieldset label.block {
	display: block;
	margin-bottom: 3px;
}

.button,
button,
input[type="submit"],
input[type="button"] {
	border: solid #252c26 2px;
	background-color: transparent;
	color: #222;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 18px;
	height: 36px;
	line-height: 35px;
	cursor: pointer;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.button:active,
button:active,
input[type="submit"]:active,
input[type="button"]:active {
	border: solid #252c26 2px;
	color: white;
	background-color: #252c26;
	font-size: 14px;
	border-radius: 0px;
}

.iphone input[type="submit"],
.ipad input[type="submit"] {
	-webkit-appearance: none;
}

.button.small,
button.small,
input[type="submit"].small,
input[type="button"].small {
	font-size: 12px;
	padding: 0 14px;
	border-width: 1px;
	height: 24px;
	line-height: 24px;
}

.button.medium,
button.medium,
input[type="submit"].medium,
input[type="button"].medium {
	font-size: 12px;
	padding: 0 14px;
	border-width: 1px;
	height: 30px;
	line-height: 30px;
}

.error {
	color: #d0011b;
	font-size: 12px;
	font-family: "Helvetica Neue";
	font-weight: normal;
	display: none;
}

span.error,
span.success {
	margin-left: 10px;
}

.invalid span.error {
	display: inline-block;
}

.invalid div.error {
	display: block;
	line-height: 1.2;
	margin-left: 5px;
}

div.success,
p.success {
	margin-left: 5px;
}

.invalid .button,
.invalid button,
.invalid input[type="submit"],
.invalid input[type="button"] {
	opacity: 0.5;
	border-color: #aaa;
	color: #aaa;
	cursor: text;
}

.invalid .button:hover,
.invalid button:hover,
.invalid input[type="submit"]:hover,
.invalid input[type="button"]:hover,
.invalid .button:active,
.invalid button:active,
.invalid input[type="submit"]:active,
.invalid input[type="button"]:active {
	background-color: transparent;
	color: #aaa;
	border-color: #aaa;
}

.ipad .invalid .button:active,
.ipad .invalid button:active,
.ipad .invalid input[type="submit"]:active,
.ipad .invalid input[type="button"]:active {
	-webkit-appearance: none;
}


.invalid textarea,
textarea.invalid {
	border-color: #d0011b;
}

.invalid input[type="text"],
.invalid select,
input[type="text"].invalid,
select.invalid {
    -webkit-border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
    -moz-border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
    -ms-border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
    border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
}

.invalid input[type="text"].always-valid,
.invalid select.always-valid {
    -webkit-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -moz-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -ms-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    border-image: url(../images/input-border.png) 1 1 1 1 stretch;
}

.msie .invalid input[type="text"],
.msie input[type="text"].invalid,
.firefox .invalid input[type="text"],
.firefox input[type="text"].invalid {
	-webkit-box-shadow: 0px 1px 0px 0px #d0011b;
	-moz-box-shadow: 0px 1px 0px 0px #d0011b;
	box-shadow: 0px 1px 0px 0px #d0011b;
}

.msie .invalid input[type="text"].always-valid,
.firefox .invalid input[type="text"].always-valid {
	-webkit-box-shadow: 0px 1px 0px 0px #aaa;
	-moz-box-shadow: 0px 1px 0px 0px #aaa;
	box-shadow: 0px 1px 0px 0px #aaa;
}

.msie .invalid select,
.msie select.invalid,
.firefox .invalid select,
.firefox select.invalid {
	-webkit-box-shadow: 0px 1px 0px 0px #d0011b;
	-moz-box-shadow: 0px 1px 0px 0px #d0011b;
	box-shadow: 0px 1px 0px 0px #d0011b;
}

.msie .invalid select.always-valid,
.firefox .invalid select.always-valid {
	-webkit-box-shadow: 0px 1px 0px 0px #aaa;
	-moz-box-shadow: 0px 1px 0px 0px #aaa;
	box-shadow: 0px 1px 0px 0px #aaa;
}

fieldset.simple input {
	vertical-align: top;
}

/* просто иконки */

.icon {
	position: relative;
	top: 3px;
}


/*большие иконки*/


.icon-big {
	width: 160px;
	height: 130px;
	line-height: 130px;
	display: inline-block;
	/*background: url(../images/big-icons.png) left top;*/
}

.icon-big:before {
	font-size: 6rem;
}

.icon-big.icon-video:before {
	font-size: 5rem;
}

.icon-big.icon-form:before {
	font-size: 6rem;
}

/*.icon-big.icon-paper {
	background-position: left top;
}

a:hover .icon-big.icon-paper,
.icon-big.icon-paper:hover {
	background-position: left -130px;
	text-decoration: none;
	border-color: transparent;
}

.icon-big.icon-video {
	background-position: -160px top;
}

a:hover .icon-big.icon-video,
.icon-big.icon-video:hover {
	background-position: -160px -130px;
	text-decoration: none;
	border-color: transparent;
}*/


/* 	Оверлеи */

body.overlay {
	overflow-y: scroll;
	position: fixed;
}