@charset "utf-8";

@import url("../fonts/icomoon.css");
@import url("common.css");




/*крутилка фоток на фоне*/

#background-photos {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	color: #ffffff;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
	background-color: #ffffff
}

#background-photos.fotorama {
	z-index: 0;
}

#background-photos .slide {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	-webkit-transition: height 0.2s ease-out;
	-moz-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
	/*white-space: nowrap;*/
}
#background-photos .slide > * {
	/*white-space: normal;*/
}

#background-photos .slide {
	text-align: center;
}

#background-photos .slide:before {
	content: " ";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

#background-photos figure {
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	max-width: 90%;
	/*top: -15%;*/
	/*position: relative;*/
}

@media all and (min-height: 375px) {
	#background-photos figure {
		top: -15%;
		position: relative;
	}
}

#background-photos figure.tour {
	display: block;
	position: absolute;
	left: 235px;
	top: 0;
	right: 0px;
	bottom: 0;
	z-index: 0;
}

#background-photos figure.tour iframe {
	position: relative;
	z-index: 0;
}

#background-photos .fotorama__stage__shaft {
	z-index: 0;
}

#background-photos figure div {
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: font-size 0.2s ease-out;
	-moz-transition: font-size 0.2s ease-out;
	transition: font-size 0.2s ease-out;
}

#background-photos figure header {
	font-size: 52px;
	line-height: 1.1;
	text-transform: uppercase;
	-webkit-transition: font-size 0.2s ease-out;
	-moz-transition: font-size 0.2s ease-out;
	transition: font-size 0.2s ease-out;
}

#background-photos figure a {
	color: #fff;
	text-decoration: none;
}

#background-photos figure p {
	font-size: 24px;
	line-height: 1.1;
	-webkit-transition: font-size 0.2s ease-out;
	-moz-transition: font-size 0.2s ease-out;
	transition: font-size 0.2s ease-out;
}

#background-photos .divider {
	width: 180px;
	height: 4px;
	background-color: #ffffff;
	margin: 1em auto;
}

#background-photos[data-autoplay] figure {
	display: none;
}

/*задник для вертикальных девайсов и других пропорций*/


@media all and (max-width: 800px) {
	#background-photos .slide {
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		background-size: 100% auto;
	}
}

@media all and (max-width: 650px) {
	#background-photos .slide {
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		background-size: auto 100%;
	}
}

@media all and (orientation:portrait), all and (max-aspect-ratio: 14/9) {
	#background-photos .slide {
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		background-size: auto 100%;
	}
}

.fotorama__arr--next {
	background: none;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 150px;
	display: inline-block;
	text-decoration: inherit;
	color: rgba(255,255,255,0.95);
	font-size: 55px;
	width: auto;
	height: auto;
	right: 320px;
	margin-top: -75px;
}

@media all and (max-width: 1349px) {
	.fotorama__arr--next {
		right: 40px;
	}
}

.fotorama__arr--next:before {
	content: "\e614";
}

.fotorama__arr--prev {
	background: none;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 150px;
	display: inline-block;
	text-decoration: inherit;
	color: rgba(255,255,255,0.95);
	font-size: 55px;
	width: auto;
	height: auto;
	left: 40px;
	margin-top: -75px;
}

.fotorama__arr--prev:before {
	content: "\e615";
}

/*контент*/

#content {
	position: relative;
	z-index: 1;
	background-color: rgba(255,255,255,0.97);
}

/*левый белый блок*/

#menu-bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 235px;
	height: 100%;
	bottom: 0;
	z-index: 1;
	background-color: rgba(255,255,255,0.95);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

/*прокрутка для левого белого бара*/

#menu-bar.iscroll-wrapper {
	overflow: hidden;
}

#menu-bar .iscroll-content {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

/*левый бар для небольших высот*/

@media all and (max-height: 640px) {

	#menu-bar .iscroll-content {
		height: auto;
		padding-bottom: 180px;
	}
}

/*лого сайта*/

h1.site-logo {
	margin: 0;
}

.site-logo a {
	text-indent: 9999px;
	overflow: hidden;
	display: block;
	height: 100%;
	background: url(../images/logo-coffemania.svg) no-repeat center center;
	-webkit-background-size: 90px auto;
	-moz-background-size: 90px auto;
	background-size: 90px auto;
}

.site-logo {
	display: block;
	height: 170px;
}

/*меню сайта*/

.site-menu a {
	color: #765746;
	text-decoration: none;
}

.site-menu a:hover,
.site-menu a.active {
	color: #B5191A;
}

.touch-device .site-menu a:hover {
	color: #765746;
}

.touch-device .site-menu a:active {
	color: #B5191A;
}

.site-menu {
	font-size: 13px;
	line-height: 50px;
	border-top: solid #eceae6 1px;
}

.site-menu a {
	line-height: 50px;
	border-bottom: solid #eceae6 1px;
	padding-left: 40px;
	display: block;
	height: 50px;
}

.site-menu a .icon {
	font-size: 50px;
	vertical-align: middle;
	-webkit-text-stroke: 0.05px;
	-moz-text-stroke: 0.05px;
	position: relative;
	top: -1px;
	margin-right: 5px;
}

.site-menu a .icon:before {
	display: inline-block;
	width: 45px;
}

.site-menu a .icon-cake {
	top: -3px;
}

/*кнопка команда*/

.team {
	text-align: center;
}

.team a {
	text-transform: uppercase;
	font-size: 10px;
	padding: 2px 7px;
	line-height: 15px;
	height: 15px;
	display: inline-block;
	text-decoration: none;
	background-color: rgba(181,25,26,0.85);
	color: rgba(255,255,255,1) !important;
}

.team a:hover,
.team a.active,
.team a:active {
	color: rgba(181,25,26,1)  !important;
	background-color: transparent;
	box-shadow: 0px 0px 0px 1px rgba(181,25,26,1);
}





/*контент

#content {
	position: relative;
	z-index: 1;
	margin-left: 470px;
	display: inline-block;
}

#content #submenu {
	position: fixed;
	left: 235px;
	top: 0px;
	bottom: 0;
	height: 100%;
	width: 235px;
	background-color: rgba(118,86,70,0.95);
}

#content #submenu a,
#content #submenu {
	color: whitesmoke;
}

#content > article {
	width: 585px;
	background-color: rgba(255,255,255,0.95);
}*/

/*статья*/

article[data-page="team"] {
	text-align: center;
	font-size: 13px;
}

article p:last-child {
	margin-bottom: 0;
}

article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 35px;
}

article .video {
	margin-top: 2.5em;
}

a {
	color: #765746;
	text-decoration: none;
}

a:hover {
	color: #B5191A;
}

article ol,
article ul,
article td,
article th {
	font-size: 14px;
}

article {
	position: relative;
}

article ul {
	list-style: none;
	margin-left: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

article ul[class] {
	margin: 0;
	list-style: none;
}

article ul li {
	position: relative;
}

article > ul li:before {
	content: "—";
	position: absolute;
	left: -1.5em;
	top: 0;
	color: #B7B0A2;
}

article ul[class] li:before {
	content: none;
}

article > ol {
	list-style: none;
	margin-left: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

article ol li {
	position: relative;
}

article ol li:before {
	content: "1.";
	position: absolute;
	left: -1.5em;
	top: 0;
	color: #B7B0A2;
}

article ol li:nth-child(1):before { content: "1."; }
article ol li:nth-child(2):before { content: "2."; }
article ol li:nth-child(3):before { content: "3."; }
article ol li:nth-child(4):before { content: "4."; }
article ol li:nth-child(5):before { content: "5."; }
article ol li:nth-child(6):before { content: "6."; }
article ol li:nth-child(7):before { content: "7."; }
article ol li:nth-child(8):before { content: "8."; }
article ol li:nth-child(9):before { content: "9."; }
article ol li:nth-child(10):before { content: "10."; }
article ol li:nth-child(11):before { content: "11."; }
article ol li:nth-child(12):before { content: "12."; }

article li {
	margin-bottom: 0.5em;
}

article ol[class] {
	margin: 0;
}

article ol[class] li {
	margin: 0;
}

article ol[class] li:before {
	content: none;
}

/*выделение*/

::selection {
  background: #F3EBD9; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F3EBD9; /* Gecko Browsers */
}

/*штука с рамкой*/

figure.bordered {
    -moz-border-image: url(../images/border.png) 24 round round;
    -webkit-border-image: url(../images/border.png) 24 round round;
    -o-border-image: url(../images/border.png) 24 round round;
    border-image: url(../images/border.png) 24 round round;
    border-width: 24px;
    padding: 10px 20px;
    margin: 30px 0;
}

figure.simple-bordered {
	padding: 10px 35px 10px 15px;
	margin: 30px 50px 30px 0;
	border: solid #EBE9E5 1px;
}

.firefox figure.bordered,
.msie figure.bordered {
	border: double #eae9e5 4px;
	border-radius: 10px;
	padding: 30px 40px;
}

/*карта*/

*[data-google-map] iframe {
	display: block;
}

*[data-google-map].round {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: solid rgba(0,0,0,0.2) 1px;
	-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.2);
	width: 250px;
	overflow: hidden;
}

*[data-google-map].round .gm-style {
	height: 270px !important;
}

*[data-google-map].round iframe {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/*Фоторама поста*/

.fotorama.news-post {
	width: 100%;
	margin: 15px 0;
}
.fotorama.news-post .fotorama__stage {
	/*background-color: #252C26;*/
}

.fotorama.news-post img {
	width: 100%;
	height: 230px;
}

.fotorama.news-post .fotorama__arr--prev {
	font-size: 30px;
	left: 0px;
	margin-left: 5px;
}

.fotorama.news-post .fotorama__arr--next {
	font-size: 30px;
	right: 0px;
	margin-right: 5px;
}

/*обычная фоторама*/

.fotorama.plain {
	width: 100%;
	margin: 15px 0;
	background-color: #222;
}

.fotorama.plain .fotorama__arr--prev {
	font-size: 30px;
	left: 0px;
	margin-left: 5px;
}

.fotorama.plain .fotorama__arr--next {
	font-size: 30px;
	right: 0px;
	margin-right: 5px;
}

.fotorama .fotorama__loaded--img > img {
	display: block;
}


/* Сказать фотки */
.fotorama .download {
	font-size: 13px;
	position: absolute;
	right: 5%;
	bottom: 1rem;
	color: #ffffff;
	max-width: 35%;
}

.fotorama .download a {
	color: #ffffff;
	border-bottom: solid rgba(255,255,255,0.5) 1px;
}

.fotorama .download a:hover {
	border-color: rgba(255,255,255,0.8);
}

.fotorama .download .text {
	font-size: 10px;
}

.fotorama .download .cut {
	display: inline-block;
	vertical-align: top;
}

.fotorama .download .icon-download {
	font-size: 18px;
	margin-right: 0.125rem;
}

.fotorama.bottom-darkened .fotorama__html {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 73%, rgba(0,0,0,0.43) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(73%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.43))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.43) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.43) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.43) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0.43) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6e000000',GradientType=0 ); /* IE6-9 */
}

.fotorama .bottom-left-text {
	font-family: "Agora Slab", serif;
	color: #fff;
	font-weight: 500;
	position: absolute;
	bottom: 1rem;
	left: 5%;
	max-width: 50%;
}

/*счётчики шаринга*/

article .social-likes__button,
article .social-likes__counter {
	font-size: 12px;
}

article .social-likes__widget {
	background-color: transparent;
	border-radius: 0;
}

/*новости*/

h2 small.date {
	display: block;
	line-height: 1.2;
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 2px;
}

.post {
	margin-top: 35px;
	overflow: hidden;
}

.post h2 {
	margin-top: 0;
}

.post .photo {
	float: left;
	margin-right: 15px;
}

.post a h2 .title {
	color: #222;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
/*	border-bottom: solid 1px;
	border-color: transparent; */
}

.post a:hover h2 .title {
	color: #B5191A;
	/*border-color: rgba(181,85,86, 0.25);*/
}

.post a p {
	color: #222;
}



/*колонки*/

.column {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1em;
}

.column.half {
	width: 44%;
	margin-right: 5%;
}

.row {
	overflow: hidden;
}

.row .column.left {
	float: left;
	width: 49.5%;
}

.row .column.right {
	float: right;
	width: 49.5%;
}

/*карты */

.column.half img.card {
	width: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-bottom: solid #ebb49f 2px;
	-webkit-box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
}


/*медиа*/

.media .icon {
	height: 31px;
	position: absolute;
	right: 100%;
	margin-right: -35px;
	top: 0px;
}

.media {
	position: relative;
	padding-left: 45px;
	min-height: 32px;
	font-size: 13px;
	line-height: 1.3;
	margin-bottom: 15px;
}

.menu-item {
	font-size: 13px;
	line-height: 1.3;
	margin-bottom: 15px;
	text-align: center;
}

.menu-item a span {
	white-space: nowrap;
}

.menu-item a {
	border-bottom: solid transparent 1px !important;
	display: inline-block;
}

.media a {
	border-color: transparent;
	color: #222;
}

.column.half.media {
	width: 32%;
	margin-right: 7%;
	margin-left: 0;
}

.column.full.media {
	width: 100%;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.column.info,
figure.info {
	margin-top: 1em;
	margin-bottom: 2em;
}

.column.info,
.column.info p,
figure.info,
figure.info p {
	font-size: 13px;
}

.column.info h3,
figure.info h3 {
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: bold;
}

/*адреса*/

figure.address {
	margin-bottom: 50px;
	margin-top: 15px;
	min-height: 150px;
}

figure.address img {
	float: right;
	width: 160px;
	height: 105px;
}

figure.address .work-hours {
	font-size: 11px;
	color: #7C7362;
}

figure.address a.with-icon {
	margin-right: 1.125rem;
}

/* с иконкой */

a.with-icon {
	border-bottom: 0;
}

a.with-icon .icon {
	margin-right: 0.125rem;
}

a.with-icon .text {
	border-bottom: solid rgba(118,86,70,0.25) 1px;
}

a.with-icon:hover .text {
	border-bottom-color: rgba(181,85,86, 0.25);
}

a.media-with-icon {
	border: 0;
}

a.media-with-icon .icon,
a.media-with-icon .media {
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
	text-align: left;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 0;
	top: 0;
}

a.media-with-icon .icon {
	margin-right: 0.25rem;
}

a.media-with-icon .text {
	border-bottom: solid rgba(118,86,70,0.25) 1px;
}

a.media-with-icon:hover .text {
	border-bottom-color: rgba(181,85,86, 0.25);
}

/*попап*/

section.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	right: 0;
	bottom: 0;
	background-color: #222;
	vertical-align: middle;
	z-index: 100;
	text-align: center;
	/*display: none;*/
	/*opacity: 0;*/
}

/*section.popup.show {
	display: block;
	opacity: 1;
}*/

section.popup:before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 100%;
}
section.popup article {
	display: inline-block;
	vertical-align: middle;
	background-color: white;
}

section.popup .close {
	position: absolute;
	font-size: 30px;
	color: #222222;
	top: 30px;
	right: 40px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-color: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
}

/*попап карты*/

section.popup#map:before {
	content: none;
}

section.popup#map article {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
}

section.popup#map article [data-google-map] {
	height: 100%;
	width: 100%;
}

section.popup#map article .caption {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	font-family: "Agora Slab";
	font-weight: normal;
	font-size: 20px;
}

/* попап с виртуальным туром */

section[id^="vtour"]:before {
	content: none;
}

section[id^="vtour"] article {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	color: white;
	background-color: black;
}

/* попап с фотками */

section.popup .fotorama {
	background-color: #000000;
}

section[id^="restaurant"]:before,
section[id^="press"]:before {
	content: none;
}

section[id^="restaurant"] article,
section[id^="press"] article {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
}

section[id^="restaurant"] article .fotorama,
section[id^="press"] article .fotorama {
	height: 100%;
	width: 100%;
}

section[id^="restaurant"] .slide,
section[id^="press"] .slide {
	background-color: #000000;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

@media all and (orientation:landscape) {
	section[id^="restaurant"] .slide,
	section[id^="press"] .slide {
		background-size: auto 100%;
	}
}

@media all and (orientation:portrait) {
	section[id^="restaurant"] .slide,
	section[id^="press"] .slide {
		background-size: 100% auto;
	}
}

section[id^="restaurant"] .fotorama__arr--prev,
section[id^="press"] .fotorama__arr--prev {
	margin-left: 0;
}

/*попап еды*/

section.popup#food {
	background-color: #000000;
}

section.popup#food:before {
	content: none;
}

section.popup#food article {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
}

section.popup#food article .fotorama {
	height: 100%;
	width: 100%;
}

section.popup#food article .caption {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	font-family: "Agora Slab";
	font-weight: normal;
	font-size: 20px;
}

section.popup#food article .caption small {
	display: block;
	text-align: center;
	font-family: "Helvetica Neue";
	font-size: 13px;
}

section.popup#food .slide {
	background-color: #000000;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

section.popup#food .slide img {
	display: block;
	margin: 0 auto;
}

@media all and (orientation:landscape) {
	section.popup#food .slide {
		background-size: auto 100%;
	}
}

@media all and (orientation:portrait) {
	section.popup#food .slide {
		background-size: 100% auto;
	}
}

section.popup#food .fotorama__arr--prev {
	margin-left: 0;
}

/*section.popup#food .close {
	right: 50px;
	font-size: 30px;
}*/

/*спецразделитель "аэропорты"*/

h2.group-divider {
	color: #aaa;
	line-height: 35px;
	font-size: 13px;
	border-top: solid #ccc 1px;
	font-family: "Helvetica Neue";
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: normal;
}

/*ресторанное меню*/

ul.restaurant-menu {
	list-style: none;
	font-size: 14px;
}

ul.restaurant-menu li {
	margin-bottom: 11px;
	color: #765646;
}

ul.restaurant-menu a {
	border-width: 0;
	display: inline-block;
	line-height: 20px;
}

ul.restaurant-menu .title {
	margin-right: 10px;
}

ul.restaurant-menu small {
	display: block;
	font-size: 13px;
	font-family: "Agora Slab";
	font-style: italic;
}

ul.restaurant-menu .more {
	display: block;
	font-size: 13px;
	font-family: "Agora Slab";
	font-style: italic;
	position: relative;
	padding-left: 10px;
	text-align: left;
	margin: 0;
}

ul.restaurant-menu .more:before {
	content: "+";
	position: absolute;
	left: 0;
	top: 0;
	font-weight: bold;
	font-style: normal;
}

ul.restaurant-menu a:hover *,
ul.restaurant-menu a:hover {
	color: #B5191A;
}

ul.restaurant-menu .group-divider {
	margin: 0;
	padding-top: 5px;
	line-height: 20px;
	margin-top: 30px;
	margin-bottom: 15px;
	text-transform: none;
}

ul.restaurant-menu .group-divider .title {
	text-transform: uppercase;
}

select.plain-menu {
	margin-left: 0;
	margin-right: 0;
}

/*цены*/

.price {
	position: relative;
	display: inline-block;
}
/*
.price:after {
	content: "–";
	position: absolute;
	right: 2px;
	top: 1px;

}
*/
/*промо приложения*/

.app-promo {
	/*overflow: hidden;*/
	position: relative;
	/*width: 430px;*/
	/*margin: 0 auto;*/
	padding-top: 25px;
}

.app-promo .features {
	list-style: none;
	width: 200px;
	line-height: 1.2;
	margin-left: 220px;
	position: static;
}

.app-promo .features li {
	padding: 10px 15px;
	cursor: pointer;
	position: static;
	background-color: rgba(242,229,213,0);
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.app-promo .features li:before {
	content: none;
}


.app-promo li:hover,
.app-promo li.active {
	background-color: rgba(242,229,213,1);
}

.app-promo ul:hover li.active {
	background-color: rgba(242,229,213,0);
}

.app-promo ul:hover li.active:hover {
	background-color: rgba(242,229,213,1);
}

.app-promo li h2 {
	margin: 0;
}

.app-promo li p {
	margin: 0;
	font-size: 13px;
}

.app-promo .screen-placeholder {
	width: 215px;
	height: 415px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}

.app-promo .screen-placeholder img {
	position: relative;
	display: block;
	left: -20px;
}

.app-promo #ios-app-promo,
.app-promo #android-app-promo {
	min-height: 410px;
}

.app-promo #ios-app-promo .screen-placeholder {
	width: 219px;
	left: 10px;

}

.app-promo #android-app-promo .screen-placeholder {
	width: 261px;
	top: -15px;
}

.app-promo .screen {
	position: absolute;
	display: none;
	left: 24px;
	top: 63px;
	width: 154px;
}

.app-promo #android-app-promo .screen {
	left: 12px;
	top: 47px;
	width: 181px;
	height: 326px;
}

.app-promo .active .screen {
	display: block;
}

.app-promo .download {
	width: 210px;
	text-align: center;
	position: relative;
	left: -5px;
}

.app-promo .download .button {
	text-transform: none;
}

.app-promo .download .button-group {
	white-space: nowrap;
}

.app-promo .download .button-group .button {
	display: inline-block;
	vertical-align: top;
	width: 90px;
	padding: 0;
}

.app-promo .download .button-group .button:first-child {
	border-right: 0px;
	margin-right: -5px;
}

.red-bordered-button {
	border: solid 1px;
	color: #B5191A;
	padding: 0 5px;
}

.red-bordered-button:hover,
.red-bordered-button.selected {
	border-color: #B5191A;
	color: #fff;
	background-color: #B5191A;
}

/*переключалка групп*/

*[data-radio-switch-group] {
	display: none;
}

*[data-radio-switch-group].selected {
	display: block;
}

/*пресса*/

figure.press ul {
	list-style: none;
	margin-top: 27px;
}

figure.press li {
	width: 200px;
	height: 270px;
	margin-right: 33px;
	margin-bottom: 50px;
	display: inline-block;
	vertical-align: top;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.4);
}

figure.press li a {
	display: block;
	width: 200px;
	height: 270px;
	position: relative;
	text-align: center;
	color: #000000;
}

figure.press li a:before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 100%;
}

figure.press li .article {
	display: inline-block;
	vertical-align: middle;
	width: 145px;
    -moz-border-image: url(../images/border-small.png) 18 fill round round;
    -webkit-border-image: url(../images/border-small.png) 18 fill round round;
    -o-border-image: url(../images/border-small.png) 18 fill round round;
    -ms-border-image: url(../images/border-small.png) 18 fill round round;
    border-image: url(../images/border-small.png) 18 fill round round;
    border-width: 18px;
	line-height: 1.2;
	font-size: 12px;
	opacity: 0;
	margin-left: -5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.touch-device figure.press li .article {
	opacity: 1;
}

figure.press li a:hover .article {
	display: inline-block;
	opacity: 1;
}

.msie figure.press li .article,
.firefox figure.press li .article {
	border-color: white;
	border-radius: 10px;
	background-color: #ffffff;
	border: solid #ffffff 18px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.4);
}

figure.press li .article h5,
figure.press li .article p {
	margin: 0px;
	font-weight: normal;
}

figure.press li .article h5 {
	position: relative;
	font-size: 12px;
	overflow: visible;
	margin-bottom: 20px;
}

figure.press li .article h5:after {
	content: " ";
	display: block;
	position: absolute;
	width: 60px;
	height: 0px;
	border-bottom: solid #000 1px;
	bottom: -10px;
	left: 50%;
	margin-left: -30px;
}

figure.press li .article p {
	font-size: 12px;
}

figure.press li .article p.date {
	color: #bbbbbb;
	margin-top: 5px;
	font-size: 11px;
}

/*команда*/



#team a,
*[data-page="team"] a {
	display: inline-block;
	border: 0;
}

#team a svg path,
*[data-page="team"] a svg path {
	fill: rgb(118, 87, 70) !important;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

#team a:hover svg path,
article[data-page="team"] a:hover svg path {
	fill: rgb(181, 25, 26) !important;
}

#team .text-logo {
	font-size: 22px;
	font-family: "Agora Slab";
	font-weight: bold;
}


/* страница ошибок с тарелкой*/

#background-photos.dishes-notify .slide header {
	color: #B5191A;
	text-shadow: none;
	font-size: 27px;
}

#background-photos.dishes-notify .slide p {
	color: #222;
	font-size: 16px;
	line-height: 1.5;
	text-shadow: none;
}

#background-photos.dishes-notify .slide a {
	color: #765646;
	text-decoration: none;
	border-bottom: solid rgba(118,86,70,0.25) 1px;
}

#background-photos.dishes-notify .slide a:hover,
#background-photos.dishes-notify .slide a:active {
	cursor: pointer;
	color: #B5191A;
	border-color: rgba(181,85,86, 0.25);
}


/* информация по меню */
.menu-info {
	margin-bottom: 25px;
	margin-top: -5px;
}

.menu-info p {
	font-size: 12px;
	margin-bottom: 5px;
}

/* Загрузить ещё */

.more {
	text-align: center;
	clear: both;
	width: 100%;
	margin: 3em 0 1em;
}


/*попап с виртуальным туром*/
.popup[id*="vtour"] iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}


/*разделители меню*/

#submenu .plain-menu .group-divider,
#submenu nav[data-dropdown] .group-divider {
	color: #b6b0a2;
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 20px;
	line-height: 25px;
}

#submenu nav[data-dropdown] .group-divider {
	padding-left: 10px;
}

#submenu .plain-menu .group-divider:before,
#submenu nav[data-dropdown] .group-divider:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 30px;
	right: 30px;
	height: 1px;
	width: 175px;
	border-top: solid #90786c 1px;
}

#submenu nav[data-dropdown] .group-divider:before {
	left: 10px;
	width: auto;
	right: 10px;
}

#submenu .plain-menu .group-divider:hover,
#submenu nav[data-dropdown] .group-divider:hover {
	background-color: transparent;
}

/*иконки в статье*/

article p .icon {
	font-size: 20px;
	line-height: 24px;
}

.kids-menu {
	position: relative;
	margin-left: 25px;
}

.kids-menu .icon {
	position: absolute;
	left: -25px;
	top: -2px;
	line-height: 20px;
}

article p.full-image img {
	width: 100%;
}


/* календарь */
#ui-datepicker-div {
	z-index: 10 !important;
	background-color: transparent;
	background-image: url(../images/datepicker-smaller.png);
	background-repeat: no-repeat;
	background-position: center -3px;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	border-radius: 0px;
	border: 0px;
	font-family: "Agora Slab";
	font-size: 16px;
	color: #222;
	padding: 20px;
	margin-left: -5px;
	margin-top: 5px;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    #ui-datepicker-div {
    	background-image: url(../images/datepicker-back.png);
    }
}

.ui-datepicker {
	width: 230px;
	min-height: 230px;
}

.ui-datepicker-year {
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	padding: 0;
	background: transparent;
	border: 0;
	border-radius: 0px;
	color: #222;
	text-align: center;
	position: relative;
	top: -10px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0px;
}

.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
	text-indent: 0px;
	overflow: visible;
	color: #B7B0A2;
	width: auto;
	font-weight: 300;
	font-size: 12px;
	background: none;
	position: static;
	margin: 0px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	width: auto;
	top: 7px;
	height: auto;
	margin: 0;
}

.ui-datepicker .ui-datepicker-next {
	right: auto;
	left: 50%;
	margin-left: 50px;
}

.ui-datepicker .ui-datepicker-prev {
	left: auto;
	right: 50%;
	margin-right: 50px;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover {
	border: 0px;
	background: none;
}

.ui-datepicker th {
	font-size: 11px;
	text-transform: uppercase;
	color: #B7B0A2;
	padding: 0px;
	padding: 2px 0px;
}

.ui-datepicker td {
	padding: 2px 0px;
}

.ui-datepicker th.ui-datepicker-week-end {
	color: #B5191A;
}

.ui-datepicker td .ui-state-default {
	text-align: center;
	color: #222;
	background: none;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	display: block;
	margin: 0 auto;
	border: solid transparent 1px;
	line-height: 22px;
	padding: 0px;
	font-size: 13px;
}

.ui-datepicker td .ui-state-highlight {
	border-color: #B7B0A2;
}

.ui-datepicker td .ui-state-highlight.ui-state-active {
	border-color: #B5191A;
}

.ui-datepicker td .ui-state-hover {
	border-color: #222;
}

.ui-datepicker td .ui-state-active {
	background-color: #B5191A;
	border-color: #B5191A;
	color: #fff;
}

/*картинка-ссылка*/
.image-link img {
	width: 100%;
}

.image-link {
	border: 0px;
	box-shadow: none;
	display: block;
	position: relative;
}

.image-link.small {
	width: 80px;
}

.image-link:before {
	content: " ";
	display: none;
	background: url(../images/fotorama.png) no-repeat;
	background-position: 0 -32px;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	z-index: 2;
}

.image-link:after {
	content: " ";
	display: none;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	z-index: 1;
}

.image-link:hover:before {
	display: block;
}

.image-link:hover:after {
	display: block;
}

.image-link img {
	display: block;
}

.notification {
	font-size: 13px;
	color: #999999;
}

/*
уведомление об отправке отзыва
*/

.notify.success {
	text-align: center;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.notify.success.active {
	opacity: 1;
	visibility: visible;
}

.notify.success .icon-email {
	font-size: 9rem;
	line-height: 4rem;
	color: #b5191a;
}

.notify.success h1 {
	color: #b5191a;
	margin-top: 0;
}


/* переход по страницам */

.page-menu {
	list-style: none;
	overflow: hidden;
}

.page-menu li {
	float: left;
}

.page-menu li a {
	display: block;
	padding: 8px 17px;
	border: solid #D8D4CD 1px;
	position: relative;
	margin-left: -1px;
}

.page-menu li a.active {
	border-color: #252C26;
	z-index: 1;
}

.page-menu li:first-child a {
	margin-left: 0;
}


/* предупреждение о 18 лет */

#age-restriction {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 101;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	padding: 50px 35px 50px 260px;
}

#age-restriction h1 {
	margin-top: 0;
}

#age-restriction .columns {
	overflow: hidden;
	position: relative;
	max-width: 1000px;
}

#age-restriction .columns p:first-child {
	float: left;
	width: 48%;
}

#age-restriction .columns p:last-child {
	float: right;
	width: 48%;
}

#age-restriction .icon-18plus {
	position: absolute;
	left: 140px;
	top: 50px;
	width: 64px;
}

#age-restriction .actions {
	margin-top: 5px;
}

#age-restriction .actions.mobile {
	display: none;
}

@media (max-width: 1200px) {
	#age-restriction {
		padding-left: 135px;
	}

	#age-restriction .columns {
		margin-right: 50px;
	}

	#age-restriction .icon-18plus {
		left: 30px;
	}
}

@media (max-width: 800px) {
	#age-restriction {
		padding: 35px;
	}

	#age-restriction .icon-18plus {
		position: static;
		margin-bottom: 15px;
		float: left;
		width: 32px;
		margin-right: 15px;
	}

	#age-restriction .columns {
		margin-bottom: 0px;
		margin-right: 0;
		clear: both;
	}

	#age-restriction .actions:last-child {
		display: none;
	}

	#age-restriction .actions.mobile {
		display: block !important;
		float: right;
		margin: 0;
	}

	#age-restriction h1 {
		margin: 0;
		float: left;
	}
}


@media (max-width: 560px) {
	#age-restriction {
		padding: 25px;
	}

	#age-restriction .icon-18plus {
		margin-bottom: 0;
	}

	#age-restriction h1 {
		float: none;
	}

	#age-restriction .columns p {
		float: none !important;
		width: auto !important;
		margin-top: 15px;
		font-size: 80%;
	}

	#age-restriction .actions.mobile {
		display: block !important;
		float: none;
		clear: both;
		margin-top: 20px;
	}
}

@media (max-width: 350px) {
	#age-restriction {
		padding: 20px;
		min-width: 240px;
	}

	#age-restriction .actions.mobile {
		text-align: center;
	}

	#age-restriction .actions.mobile .button {
		margin-bottom: 10px;
		width: 100%;
		margin-left: 0 !important;
		box-sizing: border-box;
		white-space: nowrap;
	}

	#age-restriction .actions.mobile .button:last-child {
		margin-bottom: 0;
	}
}


.site-poll,
.site-poll[hidden] {
	display: none;
}

@media all and (min-width: 800px) {
	.site-poll {
		background-color: rgba(248, 243, 234, 0.85);
		display: block;
		position: fixed;
		bottom: 70px;
		right: 5px;
		border-radius: 4px;
		padding: 5px 15px;
		width: 135px;
		box-sizing: border-box;
	}

	.site-poll a {
		display: block;
	}

	.site-poll svg,
	.site-poll img {
		display: block;
		margin: 0 auto;
	}

	.site-poll .text {
		font-size: 13px;
		line-height: 18px;
		display: inline-block;
		vertical-align: middle;
		/*text-decoration: underline;*/
		margin-left: 10px;
		display: none;
	}
}

@media all and (min-width: 1400px) {
	.site-poll {
		width: 272px;
		right: 30px;
	}

	.site-poll svg,
	.site-poll img {
		display: inline-block;
		vertical-align: middle;
	}

	.site-poll .text {
		display: inline-block;
	}
}

/*.dialog__overlay {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}*/

.site-poll.show,
.site-poll.hide {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.site-poll.show {
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
	-webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
	animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.site-poll.hide {
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
}

@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); transform: scale3d(0, 0, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); transform: scale3d(0.5, 0.5, 1); }
}




/*

██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝

*/

@media all and (min-width: 1400px) {
	.leave-feedback {
		display: block;
	}

	.leave-feedback.short {
		display: none;
	}
}


@media all and (max-width: 1349px) {
	#background-photos figure {
		left: 115px;
	}
}


@media all and (min-width: 800px) {

	*[data-hide="desktop"] {
		display: none;
	}

	a {
		transition: color 0.4s ease-out;
	}

	/*задник*/

	#background-photos figure {
		position: relative;
		vertical-align: middle;
		top: 0;
	}

	.fotorama__arr--prev {
		margin-left: 235px;
	}

	/*контент*/

	#content {
		margin-left: 470px;
		width: 585px;
		min-height: 100%;
	}

	#content.no-menu {
		margin-left: 235px;
		background-color: rgba(255,255,255,0.9);
	}

	#content article {
		padding-top: 50px;
	}

	/*подменю контента*/

	#submenu {
		position: fixed;
		left: 235px;
		top: 0px;
		width: 235px;
		/*height: 100%;*/
		bottom: 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-color: #765746;
	}

	#submenu.iscroll-wrapper {
		overflow: hidden;
	}

	#submenu .iscroll-content {
		position: absolute;
		z-index: 1;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 17px;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}

	/* меню коричневое*/

	#submenu .plain-menu a,
	#submenu nav[data-dropdown] a {
		display: block;
		/*line-height: 30px;*/
		/*height: 30px;*/
		color: rgba(255,255,255,0.9);
		padding: 5px 20px 5px 30px;
		text-decoration: none;
		font-size: 13px;
		font-weight: 300;
		background-color: rgba(236,210,183,0.0);
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}

	#submenu .plain-menu a:hover,
	#submenu .plain-menu a.active,
	#submenu nav[data-dropdown] li a:hover,
	#submenu nav[data-dropdown] li a.active {
		background-color: rgba(236,210,183,0.3);
	}

	#submenu .plain-menu:hover a.active,
	#submenu nav[data-dropdown] ul:hover li a.active {
		background-color: transparent;
	}

	#submenu .plain-menu:hover a.active:hover,
	#submenu nav[data-dropdown] ul:hover li a.active:hover {
		background-color: rgba(236,210,183,0.3);
	}

	#submenu nav[data-dropdown] {
		border: solid #fff 1px;
		margin-left: 30px;
		margin-right: 20px;
	}

	#submenu nav[data-dropdown] ul {
		border-top: solid #fff 1px;
		display: none;
	}

	#submenu nav[data-dropdown] a {
		padding-left: 10px;
		padding-right: 10px;
	}

	#submenu nav[data-dropdown] > a.selected {
		padding-right: 40px;
		background: url(../images/down-arrow-white.svg) no-repeat right center;
	}

	#submenu nav[data-dropdown] small {
		font-size: 10px;
		display: block;
	}

	#submenu nav[data-dropdown] .divider {
		padding: 10px 10px 5px 10px;
		text-transform: uppercase;
		color: #b6b0a2;
		font-size: 12px;
	}

	#submenu .plain-menu .divider {
		padding: 10px 20px 5px 30px;
		text-transform: uppercase;
		color: #b6b0a2;
		font-size: 12px;
	}



	/*футер-отзыв*/

	footer .leave-feedback {
		position: fixed;
		right: 165px;
		bottom: 20px;
		line-height: 30px;
		font-size: 13px;
	}

	footer .leave-feedback a {
		color: #ffffff;
		text-decoration: none;
		opacity: 1;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}

	footer .leave-feedback a:hover {
		opacity: 0.75;
	}

	.leave-feedback .icon {
		vertical-align: middle;
		position: relative;
		top: -2px;
		font-size: 30px;
	}

	/*футер-социальное*/

	footer .social {
		position: fixed;
		right: 40px;
		bottom: 20px;
		text-align: right;
		font-size: 12px;
	}

	footer .social a {
		color: #ffffff;
		text-decoration: none;
		opacity: 1;
		-webkit-transition: all 0.4s ease-out;
		-moz-transition: all 0.4s ease-out;
		transition: all 0.4s ease-out;
	}

	footer .social a:hover {
		opacity: 0.5;
	}

	footer .social .icon {
		font-size: 21px;
		line-height: 30px;
		vertical-align: middle;
		position: relative;
		top: -2px;
		margin: 0 2px;
	}

	/*подложка футера*/

	footer:before {
		content: " ";
		position: fixed;
		background-color: rgba(0,0,0,0.2);
		width: 272px;
		height: 32px;
		bottom: 21px;
		right: 30px;
		border-radius: 4px;
	}

	/*показываем только на главной странице*/

	body > footer {
		z-index: 0;
		position: relative;
	}

	body.mainpage > footer {
		display: block;
	}

	/*окно отзыва*/

	#feedback {
		background-color: rgba(255,255,255,1);
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	#feedback-3d-wrapper {
		position: fixed;
		right: 0px;
		top: 0px;
		width: 500px;
		height: 100%;
		bottom: 0;
		z-index: 10;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1300px;
		-moz-perspective: 1300px;
		perspective: 1300px;
	}

	#feedback-3d-wrapper.show {
		visibility: visible;
	}

	#feedback-3d-wrapper #feedback {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateZ(150px) translateX(150px) rotateY(-60deg);
		-moz-transform: translateZ(150px) translateX(150px) rotateY(-60deg);
		-ms-transform: translateZ(150px) translateX(150px) rotateY(-60deg);
		transform: translateZ(150px) translateX(150px) rotateY(-60deg);
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		opacity: 0;
	}

	#feedback-3d-wrapper.show #feedback {
		-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		transform: translateZ(0px) translateX(0%) rotateY(0deg);
		opacity: 1;
	}


	#feedback-3d-wrapper.show #feedback {
		-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		transform: translateZ(0px) translateX(0%) rotateY(0deg);
		opacity: 1;
	}

	#feedback .iscroll-content {
		padding: 40px 30px;
		width: 100%;
		min-height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#feedback .close {
		position: absolute;
		font-size: 20px;
		color: #222222;
		top: 30px;
		right: 20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		z-index: 10;
	}

	/*прокрутка для блока формы отзыва*/

	#feedback.iscroll-wrapper {
		overflow: hidden;
	}

	#feedback .iscroll-content {
		position: absolute;
		z-index: 1;
		width: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}

	/*блок "команда"*/

	#team {
		background-color: rgba(255,255,255,0.9);
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #765746;
		font-size: 12px;
		line-height: normal;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}

	*[data-page="team"],
	*[data-page="team"] p {
		font-size: 12px;
		line-height: normal;
	}

	.mainpage #team {
		background-color: rgba(255,255,255,0.8);
	}

	#team-3d-wrapper {
		position: fixed;
		left: 235px;
		width: 235px;
		top: 0px;
		height: 100%;
		bottom: 0;
		z-index: 10;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1300px;
		-moz-perspective: 1300px;
		perspective: 1300px;
	}

	#team-3d-wrapper.show {
		visibility: visible;
	}

	#team-3d-wrapper #team {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateZ(0px) translateX(0) rotateY(40deg);
		-moz-transform: translateZ(0px) translateX(0) rotateY(40deg);
		-ms-transform: translateZ(0px) translateX(0) rotateY(40deg);
		transform: translateZ(0px) translateX(0) rotateY(40deg);
		-webkit-transform-origin: 0 100%;
		-moz-transform-origin: 0 100%;
		transform-origin: 0 100%;
		opacity: 0;
	}

	#team-3d-wrapper.show #team {
		-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
		transform: translateZ(0px) translateX(0%) rotateY(0deg);
		opacity: 1;
	}

	#team .iscroll-content {
		padding-top: 160px;
		padding-bottom: 50px;
	}

	#team p,
	*[data-page="team"] p {
		margin-bottom: 2em;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	#team p:last-child,
	*[data-page="team"] p:last-child {
		margin-bottom: 0;
	}

	#team .logo,
	*[data-page="team"] .logo {
		margin-bottom: 4px;
		height: 25px;
	}

	#team a[href*="//coffeemania.fm"] .logo,
	*[data-page="team"] a[href*="//coffeemania.fm"] .logo {
		height: 50px;
		position: relative;
		left: 7px;
	}

	#team a.tort .logo,
	*[data-page="team"] a.tort .logo {
		height: 50px;
	}

	#team a.burger .logo,
	*[data-page="team"] a.burger .logo {
		height: 70px;
	}

	#team a[href*="easylifemenu.ru"] .logo,
	*[data-page="team"] a[href*="easylifemenu.ru"] .logo {
		height: 60px;
		position: relative;
		/*left: 7px;*/
		width: 110px;
	}

	#team .close {
		position: absolute;
		font-size: 20px;
		color: rgba(0,0,0,0.45);
		top: 50px;
		left: 50%;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}


	/*прокрутка для блока команды*/

	#team.iscroll-wrapper {
		overflow: hidden;
	}

	#team .iscroll-content {
		position: absolute;
		z-index: 1;
		width: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}

	/*копирайты*/

	#menu-bar .copyrights {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 23px;
		line-height: 1.3;
		text-align: center;
	}

	#menu-bar .copyrights > * {
		display: block;
	}

	/*язык*/

	#menu-bar .language {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 65px;
		font-size: 12px;
		text-align: center;
	}

	#menu-bar .language a {
		color: #765746;
		text-decoration: none;
	}

	#menu-bar .language a:hover {
		color: #B5191A;
	}

	/*мобильные приложения*/

	#menu-bar .mobile-apps {
		position: absolute;
		left: 0;
		bottom: 95px;
		width: 99%;
		z-index: 2;
		text-align: center;
		font-size: 12px;
	}

	#menu-bar .mobile-apps a {
		color: #765746;
		margin: 0 5px;
		text-decoration: none;
	}

	#menu-bar .mobile-apps a:hover {
		color: #B5191A;
	}

	.mobile-apps .icon {
		font-size: 19px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}

	/*команда*/

	#menu-bar .team {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 134px;
	}

	#menu-bar .team a {
		/*color: #765746;*/
	}

	#menu-bar .team a {
		transition: color 0s linear, background-color 0.0s ease-out;
	}

	/*копирайты*/

	#menu-bar .copyrights {
		font-size: 11px;
		color: #B7B0A2;
		text-align: center;
	}

	#menu-bar .copyrights a {
		color: #B7B0A2;
		text-decoration: none;
	}

	#menu-bar .copyrights a:hover,
	#menu-bar .copyrights a:active {
		color: #B5191A;
	}

	/*карта*/

	section.popup#map article .caption {
		font-size: 25px;
		padding: 30px;
	}

	/*попап еды*/

	section.popup#food article .caption {
		font-size: 25px;
	}

	section.popup#food article .caption small {
		font-size: 16px;
	}

	section.popup#food article .caption .price:after {
		top: 2px;
	}

	/*доставка*/

	#content.iframe840 {
		background-color: #765746;
		width: 840px;
		position: relative;
	}

	#delivery-iframe {
		width: 100%;
		height: 100%;
		border: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
	}

	/* страница ошибок с тарелкой*/
	#background-photos.dishes-notify {
		z-index: 0;
	}

	#background-photos.dishes-notify .slide {
		margin-left: 235px;
		width: auto;

		height: 100%;
	}

	#feedback .notify.success {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		margin: 0;
		white-space: nowrap;
		background-color: #fff;
	}

	#feedback .notify.success:after {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 1px;
	}

	#feedback .notify.success article {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
	}
}

@media all and (max-width: 1349px) {
	.leave-feedback {
		display: none;
	}

	.leave-feedback.short {
		display: block;
		right: 100px;
	}

	footer .social {
		right: 15px;
	}

	footer:before {
		width: 135px;
		right: 5px;
	}
}

/*

████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝
   ██║   ███████║██████╔╝██║     █████╗     ██║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║
   ██║   ██║  ██║██████╔╝███████╗███████╗   ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝

*/

@media all and (max-width: 1075px) {

	/*задник с фотками*/

	.fotorama__arr--next,
	.fotorama__arr--prev {
		font-size: 40px;
	}

	#background-photos figure div {
		font-size: 13px;
	}

	#background-photos figure header {
		font-size: 37px;
	}

	#background-photos figure p {
		font-size: 18px;
	}

	/*контент*/

	#content {
		width: auto;
	}

	#content.no-menu {
		width: 585px;
	}

	/*доставка*/

	#content.iframe840 {
		background-color: #765746;
		position: relative;
		width: auto;
	}

	#delivery-iframe {
		width: 100%;
		height: 100%;
		border: 0px;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
	}

	#submenu nav[data-dropdown] .divider {
		padding: 10px 10px 5px 10px;
		text-transform: uppercase;
		color: #b6b0a2;
		font-size: 12px;
	}

	#submenu .plain-menu .divider {
		padding: 10px 20px 5px 30px;
		text-transform: uppercase;
		color: #b6b0a2;
		font-size: 12px;
	}
}

/*

███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝

*/

@media all and (max-width: 800px) {

	*[data-hide="mobile"] {
		display: none !important;
	}

	body {
		overflow-x: hidden;
		padding-top: 60px;
	}

	body.mainpage {
		padding-top: 0;
	}

/*	body, html {
		background-color: #252c25;
	}*/

	/*стрелочки фоторамы*/

	.popup .fotorama__arr--next {
		right: 0;
	}

	.popup .fotorama__arr--prev {
		left: 0;
	}

	/*задник с фотками*/

	.mainpage .fotorama__arr--next,
	.mainpage .fotorama__arr--prev {
		display: none !important;
	}

	#background-photos figure,
	#background-photos figure.tour {
		left: 0;
	}

	#background-photos figure div {
		font-size: 10px;
	}

	#background-photos figure header {
		font-size: 27px;
	}

	#background-photos figure p {
		font-size: 13px;
	}

	.mainpage #background-photos {
		position: relative;
	}

	/*контент*/

	#content {
		width: auto !important;
	}


	/*белый меню-бар с кнопкой открытия/закрытия*/

	#menu-bar {
		width: 190px;
		left: 100%;
		margin-left: 0px;
		z-index: 5;
	}

	#menu-bar .iscroll-content {
		padding-bottom: 30px;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#menu-bar.opened {
		margin-left: -190px;
	}

	a[data-slide-toggle="#menu-bar"] {
		position: absolute;
		left: 100%;
		margin-left: -47px;
		top: 15px;
		z-index: 4;
		background-color: rgba(0,0,0,0.0);
		transition: background-color 0.2s ease-out;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;

	}

	a[data-slide-toggle="#menu-bar"]:before {
		content: url(../images/icon-dashes.svg);
		display: block;
		width: 32px;
		height: 32px;
	}

	a[data-slide-toggle="#menu-bar"].opened {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		left: 0;
		margin-left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}

	a[data-slide-toggle="#menu-bar"].opened:before {
		content: none;
	}

	/*меню сайта*/

	#menu-bar .site-menu a {
		padding-left: 30px;
		line-height: 60px;
		height: 60px;
	}

	/*лого сайта меньше*/

	.site-logo {
		height: 110px;
	}

	.site-logo a {
		-webkit-background-size: 50px auto;
		-moz-background-size: 50px auto;
		background-size: 50px auto;
	}

	/*кнопка команда*/

	#menu-bar .team {
		margin-top: 25px;
	}

	#menu-bar .team a {
		font-size: 11px;
		/*color: #765746;*/
		line-height: 20px;
		height: 18px;
	}

	/*футер*/

	body > footer {
		position: static;
		z-index: 0;
		background-color: #252c25;
		color: #B1B0A2;
		font-size: 12px;
		text-align: center;
	}

	footer a {
		text-decoration: none;
		color: #B1B0A2;
		line-height: 60px;
		height: 60px;
		display: block;
		float: left;
		-webkit-box-shadow: 1px 0px 0px 0px #373c36;
		-moz-box-shadow: 1px 0px 0px 0px #373c36;
		box-shadow: 1px 0px 0px 0px #373c36;
	}

	footer a:hover {
		color: #fff;
	}

	footer .icon {
		font-size: 30px;
		vertical-align: middle;
		position: relative;
		top: -2px;
		margin-right: 5px;
	}

	/*кнопка языка*/

	footer .language {
		overflow: hidden;
	}

	footer .language a {
		width: 100%;
		border-bottom: solid #373c36 1px;
	}

	/*кнопка приложений*/

	footer .mobile-apps {
		overflow: hidden;
	}

	footer .mobile-apps a {
		border-bottom: solid #373c36 1px;
		width: 50%;
	}

	/*оставить отзыв*/

	footer .leave-feedback {
		width: 50%;
		float: left;
	}

	footer .leave-feedback a {
		width: 100%;
		border-bottom: solid #373c36 1px;
	}

	/*копки социальные*/

	footer .social {
		overflow: hidden;
		width: 50%;
		float: left;
		border-bottom: solid #373c36 1px;
	}

	footer .social a {
		box-shadow: none;
		float: none;
		width: 30px;
		display: inline-block;
	}

	footer .social .icon {
		font-size: 24px;
	}

	/*копирайты*/

	footer .copyrights {
		overflow: hidden;
		clear: both;
	}

	footer .copyrights > * {
		line-height: 60px;
		height: 60px;
		display: block;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	footer .copyrights .coffemania {
		float: left;
		margin-left: 20px;
	}

	footer .copyrights .neq4 {
		float: right;
		margin-right: 20px;
	}

	/*блок команда*/

	#team {
		display: none;
	}

	/*блок отзывы*/

	#feedback {
		display: none;
	}

	/*подменю*/

	#submenu {
		margin: 0 35px;
		padding-top: 35px;
		padding-bottom: 35px;
		padding-bottom: 0;
	}

	#submenu select.plain-menu {
		width: 100%;
		border: solid #999 1px;
		padding: 10px;
		height: auto;
		font-size: 12px;
		border-radius: 0px;
		/*-webkit-appearance: none;*/

/*		color: rgba(255,255,255,0.9);
		background-color: #765746;*/
		margin-bottom: 1.4em;
	}

/*	#submenu select.plain-menu option {
		color: rgba(255,255,255,0.8);
	}*/

	#submenu select.plain-menu:last-child {
		/*background-color: white;
		color: #222;*/
		margin-bottom: 0;
	}

	#submenu select.plain-menu:last-child option {
		color: #222;
	}

	.ipad #submenu select.plain-menu,
	.iphone #submenu select.plain-menu {
		background: url(../images/down-arrow.svg) no-repeat right center;
	}

	/* меню коричневое*/

	#submenu .plain-menu a,
	#submenu nav[data-dropdown] a {
		display: block;
		/*line-height: 30px;*/
		/*height: 30px;*/
		color: rgba(255,255,255,0.9);
		padding: 5px 20px 5px 30px;
		text-decoration: none;
		font-size: 13px;
		font-weight: 300;
		background-color: rgba(236,210,183,0.0);
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}

	#submenu .plain-menu a:hover,
	#submenu .plain-menu a.active,
	#submenu nav[data-dropdown] li a:hover,
	#submenu nav[data-dropdown] li a.active {
		background-color: rgba(236,210,183,0.3);
	}

	#submenu .plain-menu:hover a.active,
	#submenu nav[data-dropdown] ul:hover li a.active {
		background-color: transparent;
	}

	#submenu .plain-menu:hover a.active:hover,
	#submenu nav[data-dropdown] ul:hover li a.active:hover {
		background-color: rgba(236,210,183,0.3);
	}

	/*#submenu .plain-menu .group-divider a,
	#submenu nav[data-dropdown] .group-divider a {
		color: #b6b0a2;
		font-size: 11px;
		text-transform: uppercase;
		position: relative;
		margin-top: 15px;
	}

	#submenu .plain-menu .group-divider a:before,
	#submenu nav[data-dropdown] .group-divider a:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 30px;
		right: 30px;
		height: 1px;
		width: 175px;
		border-top: solid #90786c 1px;
	}

	#submenu .plain-menu .group-divider a:hover,
	#submenu nav[data-dropdown] .group-divider a:hover {
		background-color: transparent;
	}*/

	#submenu nav[data-dropdown] {
		border: solid #765746 1px;
		background-color: #765746;
	}

	#submenu nav[data-dropdown] ul {
		border-top: solid #fff 1px;
		display: none;
	}

	#submenu nav[data-dropdown] a {
		padding-left: 10px;
		padding-right: 10px;
	}

	#submenu nav[data-dropdown] > a.selected {
		padding-right: 40px;
		background: url(../images/down-arrow-white.svg) no-repeat right center;
	}

	#submenu nav[data-dropdown] small {
		font-size: 10px;
		display: block;
	}

	/*доставка*/

	#content.iframe840 {
		background-color: #765746;
		position: relative;
		width: auto;
	}

	#delivery-iframe {
		position: static;
		width: 100%;
		height: 500px;
		border: 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}


	/* страница ошибок с тарелкой*/
	#background-photos.dishes-notify {
		z-index: -1;
		position: static;
		margin-top: -60px;
	}

	#background-photos.dishes-notify .slide {
		margin-left: 0px;
		width: 100%;
		height: 100%;
	}

	#background-photos.dishes-notify .slide header {
		font-size: 18px;
	}

	#background-photos.dishes-notify .slide p {
		font-size: 14px;
	}


	/* колонки */

	.column.half {
		width: 100% !important;
		max-width: 300px;
		/*margin-right: 0;*/
	}

	.column.half.menu-item {
		width: 43% !important;
		max-width: none;
	}

	.notify.success {
		visibility: visible !important;
		display: none;
	}

	.notify.active {
		display: block;
	}

	*[data-page="team"] a[href*="//coffeemania.fm"] .logo {
		height: 70px;
		position: relative;
		left: 10px;
	}

	*[data-page="team"] a.tort .logo {
		height: 70px;
		position: relative;
	}

}


@media all and (max-width: 500px) {
	.column.half.menu-item {
		width: 100% !important;
	}
}


/*

Хитрый баннер

 */

html {
	transition: margin-top 0.2s ease-out;
}

.smartbanner-show #menu-bar {
	height: auto;
	top: 79px;
}

@media (max-width: 800px) {
	.smartbanner-show a[data-slide-toggle="#menu-bar"] {
		top: 94px;
	}


}

@media (min-width: 800px) {
	#submenu,
	#team-3d-wrapper,
	#feedback-3d-wrapper {
		top: 0px;
		transition: top 0.2s ease-out;
	}
	.smartbanner-show #submenu,
	.smartbanner-show #team-3d-wrapper,
	.smartbanner-show #feedback-3d-wrapper {
		top: 79px;
	}
}

/*	Скроллбар */

#team.iscroll-wrapper .iScrollVerticalScrollbar {
	opacity: 1 !important;
	right: 12px !important;
	width: 5px !important;
	top: 150px !important;
}

.iScrollIndicator {
	border: 0 !important;
	border-radius: 3px !important;
}


/* Блок новостей на главной */

#landing-news {
	/*position: absolute;*/
	/*right: 30px;*/
	/*left: 30px;*/
	/*bottom: 30px;*/
	background-color: rgba(255,255,255,0.9);
	box-sizing: border-box;
	padding: 20px 20px 20px 20px;
}

#landing-news .post {
	margin: 0;
}

#landing-news .post + .post {
	margin-top: 20px;
}

#landing-news .post + p {
	margin-top: 10px;
}

@media all and (max-height: 375px) and (min-width: 800px) {
	#landing-news {
		display: none;
	}
}

@media all and (min-height: 375px) {
	#landing-news {
		position: absolute;
		left: 30px;
		bottom: 30px;
		right: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#landing-news .post {
		display: none;
	}

	#landing-news .post:first-of-type {
		display: block;
	}

	#landing-news .post + p {
		margin-top: 0px;
	}
}

@media all and (min-width: 801px) {
	#landing-news {
		position: absolute;
		left: auto;
		width: 272px;
		right: 30px;
		top: 20px;
		bottom: auto;
	}
}

@media all and (min-width: 1350px) {
	#landing-news {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#landing-news .post {
		display: block;
		margin-bottom: 10px;
	}

	#landing-news .post .title {
		white-space: normal;
	}
}

/* 	Вакансии */

.our-community a,
.fill-job-apply a {
	 border-bottom: none;
	 font-size: 14px;
}

.our-community a span:not(.fa):not(.icon),
.fill-job-apply a div span:not(.fa):not(.icon) {
	border-bottom: solid rgba(118,86,70,0.25) 1px;
}

.our-community a:hover span:not(.fa):not(.icon),
.fill-job-apply a:hover div span:not(.fa):not(.icon) {
	border-bottom: solid rgba(181,85,86, 0.25) 1px;
}

.our-community a span.icon,
.our-community a span.fa {
	width: 18px;
	height: 18px;
	background-color: #765647;
	color: #f4f2f5;
	font-size: 80%;
	text-align: center;
	line-height: 18px;
	border-radius: 4px;
	margin-right: 3px;
}

.our-community a:hover span.icon,
.our-community a:hover span.fa {
	background-color: #B5191A;
}

.our-community div,
.fill-job-apply div {
	margin-top: 10px;
}

.fill-job-apply .icon {
	width: 25%;
	font-size: 50px;
	display: inline-block;
	vertical-align: middle;
}

.fill-job-apply .icon + div {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
}