@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-dmdz9h');
	src:url('icomoon.eot?#iefix-dmdz9h') format('embedded-opentype'),
		url('icomoon.woff?-dmdz9h') format('woff'),
		url('icomoon.ttf?-dmdz9h') format('truetype'),
		url('icomoon.svg?-dmdz9h#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-parking:before {
	content: "\e600";
}
.icon-pin:before {
	content: "\e601";
}
.icon-steam:before {
	content: "\e618";
}
.icon-veranda:before {
	content: "\e619";
}
.icon-box:before {
	content: "\e617";
}
.icon-download:before {
	content: "\e60e";
}
.icon-new:before {
	content: "\e604";
}
.icon-simple-menu:before {
	content: "\e60b";
}
.icon-take-away:before {
	content: "\e60c";
}
.icon-twitter:before {
	content: "\e60d";
}
.icon-instagram:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e611";
}
.icon-email:before {
	content: "\e612";
}
.icon-close:before {
	content: "\e613";
}
.icon-next:before {
	content: "\e614";
}
.icon-prev:before {
	content: "\e615";
}
.icon-google:before {
	content: "\e610";
}
.icon-apple:before {
	content: "\e616";
}
.icon-form:before {
	content: "\e602";
}
.icon-video:before {
	content: "\e603";
}
.icon-coffeemania:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-delivery:before {
	content: "\e607";
}
.icon-address:before {
	content: "\e608";
}
.icon-cake:before {
	content: "\e609";
}
.icon-job:before {
	content: "\e60a";
}
